/* ------Global Styles */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;

  /* box-sizing: border-box; */
}
body {
  background-color: #f3f2f2;
}
html {
  scroll-behavior: smooth;
}

/* ------styles for header */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: -1px 2px 5px rgb(0, 0, 0);
  background-color: rgb(27, 27, 27);
}
.navbar {
  max-width: 90em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(102, 100, 100);
}
.nav__logo {
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-family: "Roboto", sans-serif;
}
.burger-wrap {
  display: none;
}
.nav__link:not(:last-child) {
  margin-right: 2em;
}
.nav__link:hover {
  color: rgb(223, 224, 224);
}
@media (max-width: 65em) {
  .nav__link:not(:last-child) {
    margin-right: 0;
  }
  .nav__link {
    margin-top: 2em;
    font-size: 20px;
  }
  .nav__links.active {
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 8.5%;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    position: fixed;
    padding-bottom: 4em;
    gap: 1em;
    margin: 0;
    background-color: #1b1b1b;
  }
  .nav__links {
    display: none;
  }
  body.active {
    overflow: hidden;
  }

  .burger-wrap {
    display: grid;
    place-items: center;
    place-items: center;
    padding: 5px;
    cursor: pointer;
    /* background-color: #e39d15; */
  }
  .line {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #b8b8b8;
  }
  .line:not(:first-child) {
    margin-top: 5px;
  }
}

/* -----Hero Section------ */

.hero-wrap {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  width: 100%;
}
.hero {
  min-height: 50em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(23, 23, 23, 0.1);
}
.hero-content {
  max-width: 90em;

  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 4em;
}

.hero-img {
  width: 100%;
  opacity: 0.6;
  max-width: 28.6875em;
}
.hero-text-wrap {
  width: fit-content;
  margin-top: 2em;
  /* background-color: rgba(240, 248, 255, 0.226); */
}
.hr-text-h1 {
  font-size: 3em;
  font-weight: normal;
}
.hr-text-h1:nth-child(2) {
  margin-left: 1.5em;
}
.hr-text-p {
  font-size: 1.1em;
  margin-left: 4.2em;
  color: #e39d15;
}
@media screen and (min-width: 1024px) {
  .hero-content {
    flex-direction: row-reverse;
    justify-content: space-around;
    /* padding-bottom: 5em; */
  }
  .hero-img-wrap {
    width: 100;
  }
  .hero-img {
    width: 100%;
    max-width: 35em;
  }

  .hr-text-h1 {
    font-size: 4.625em;
  }
  .hr-text-p {
    margin-left: 6.5em;
  }
}

/* ------ About Section ------ */

.about-wrap {
  width: 100%;
  height: 100%;
}
.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.about-content {
  width: 90%;
  max-width: 80em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
}
.about-img-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-img {
  width: 75%;
  max-width: 22.1875em;
  min-width: 20em;
}
.about-img-wrap::after {
  content: "";
  position: absolute;
  top: 12%;
  max-width: 22.1875em;
  margin-right: 5em;
  display: block;
  width: 70%;
  z-index: -1;
  height: 90%;
  border: 1.5em solid #e39d15;
}
.about-text {
  width: 100%;
  margin-top: 6em;
  max-width: 40.9375em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ab-title {
  font-size: 2.5em;
  font-weight: bold;
}
.ab-text {
  margin-top: 1em;
  font-size: 1.1875em;
  line-height: 30px;

  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1000px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
  }
  .about-text {
    margin-top: 0;
    max-width: 40.9375em;
  }

  .ab-text {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5;
  }
}

/* ------Services Section ------ */

.services-wrap {
  width: 100%;
  height: 100%;
  color: black;
}
.services {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.services-content {
  max-width: 90em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}
.services-title-wrap {
}
.services-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 2em;
}
.services-carousel-wrap {
  width: 100%;
  max-width: 80em;
  margin-top: 5em;
  overflow: hidden;
}

.sc-card {
  color: white;
  padding: 3em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-img-wrap {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
}
.card-img {
  width: 4em;
}
.card-title {
  margin-top: 1.2em;
  font-size: 1.25em;
  height: 2.5em;
  font-family: "Roboto", sans-serif;
}
.card-text {
  height: 10em;
  /* max-width: 50ch; */
  font-size: 1.1em;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 699px) {
  .card-text {
    height: 10em;
    font-size: 1em;
    line-height: 1.8;
  }
}
@media (max-width: 1000px) {
  .services-content {
    margin-top: 0;
  }
}
/* -----Services Carousel-controls----- */
.sc-card.slick-slide {
  background-color: rgba(0, 0, 0, 0.842);
}
.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.slick-dots li button {
  display: none;
}
.slick-dots li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid black;
}
.slick-dots li:hover {
  background-color: black;
  cursor: pointer;
}
.slick-dots li:not(:first-child) {
  margin-left: 1em;
}

li.slick-active {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
}

/* ----- Papers & Publications Section ------ */

.papers-wrap {
  width: 100%;
}
.papers {
  width: 100%;
  display: flex;
  justify-content: center;
}
.papers-content {
  max-width: 90em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}
.papers-title-wrap {
}
.papers-title {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
}

.papers-card-wrap {
  margin-top: 7em;
  width: 80%;
  max-width: 26.375;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pc-wrap2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pc-wrap3 {
  display: flex;
  justify-content: center;
}
.papers-card {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.papers-card-img {
  width: 100%;
  max-width: 16.625;
}
.papers-card-text {
  margin-top: 1em;
}
.pc-title {
  color: rgba(227, 157, 21, 1);
  font-weight: 300;
  font-size: 1.143em;
  text-align: center;
}
.pc-date {
  color: rgba(227, 157, 21, 1);

  font-weight: 300;
  margin-top: 0.3em;
}
.pc-text {
  margin-top: 0.5em;
  font-size: 1em;
  line-height: 21px;
}
.pc-prev {
  background-color: transparent;
  color: #e39d15;
  padding: 0.2em 0.6em 0.2em 0.6em;
  font-size: 1.5em;
  /* position: absolute; */
  bottom: -15%;
  /* left: 45%; */
  display: block;
  border: 1px solid #e39d15;
  cursor: pointer;
}
.pc-next {
  cursor: pointer;
  padding: 0.2em 0.6em 0.2em 0.6em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #e39d15;
  /* position: absolute; */
  bottom: -15%;
  /* right: 45%; */
  border: 1px solid #e39d15;
}
.pc-nav {
  width: 10em;
  display: flex;
  margin-top: 3em;
  justify-content: space-around;
}
@media screen and (min-width: 700px) {
  .pc-wrap3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .papers-card {
    flex-direction: row;
    max-width: 34.375em;
  }
  .papers-card-img {
    width: 100%;
    max-width: 16.625;
  }
  .papers-card-wrap {
    max-width: 90em;
  }
  .pc-title {
    text-align: left;
  }
  .papers-card-text {
    width: 60%;
    padding: 2em;
    text-align: left;
    line-height: 1.2;
    color: rgba(119, 119, 119, 1);
  }
  .pc-text {
    max-width: 16.625em;
  }
}

/* ------ Experience Section ------ */

.experience-wrap {
  width: 100%;
  min-height: 40em;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding-bottom: 4em;
}
.experience {
  width: 90%;
  max-width: 90em;
}
.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-title-wrap::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10%;
  margin-right: 2em;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.experience-title-wrap::after {
  content: "";
  display: block;
  position: absolute;
  margin-right: -2em;

  bottom: -15%;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.experience-title {
  font-size: 3em;
  color: #ffffff;
  font-weight: normal;
  margin-top: 1.5em;
}
.ec-img-wrap {
  background-color: white;
  width: 20em;
  height: 6em;
  display: grid;
  place-items: center;
  border-radius: 0.5em;
}
.experience-cards {
  margin-top: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.exp-card {
  width: 20em;
  background-color: #1f1f1f;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  margin: 1em;
  text-align: center;
}
.ec-text-wrap {
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.85);
}
.ec-title {
  font-weight: normal;
  font-style: italic;
  font-size: 1.3em;
}
.ec-text {
  margin-top: 1em;
  font-size: 1.1em;
}

/* ------ Blogs Section ------   */
.blogs-wrap {
  width: 100%;
  min-height: 55em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs {
  width: 90%;
  max-width: 90em;
}
.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-content-title {
  margin-top: 2.5em;
  font-size: 3em;
  font-weight: bold;
}
.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10%;
  margin-right: 2em;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  margin-right: -2em;

  bottom: -15%;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.blg-grid {
  margin-top: 6em;
  width: 100%;
  max-width: 80em;
}

.blg-item {
  width: 100%;
  max-width: 22em;
  min-height: 30em;
  background-color: white;
  margin-bottom: 30px;
}
.blg-img {
  width: 100%;
}
.blg-text-wrap {
  padding: 2em 1.7em 2.5em;
}
.blg-title {
  font-size: 1.3em;
  font-family: "Playfair Display", serif;
  color: rgba(23, 23, 23, 1);
  font-weight: normal;
}
.blg-date {
  margin-top: 1em;
  font-family: "Work Sans", sans-serif;
}
.blg-p {
  font-size: 1.05em;
  margin-top: 1em;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  color: rgba(95, 95, 95, 1);
}

.blg-view-more {
  margin-top: 2em;
  text-decoration: none;
  color: #e39d15;
  border: 1px solid #e39d15;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-family: "Merriweather", serif;
  font-style: italic;
}

/* ------ Testimonial Section----- */

.testimonial-wrap {
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
}
.testimonial {
  width: 100%;
  max-width: 120em;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}
.testimonial-content {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
  /* height: 30em; */

  max-width: 120em;
  background-image: url("./images/tml-slider-img.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.testimonial-content::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  top: 0;
}
.tsml-title {
  font-size: 3em;
  font-weight: normal;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
}
.testimonial-slider {
  width: 70%;
  margin-top: 3.5em;
  max-width: 66em;
  text-align: center;
  z-index: 2;
}
.tsml-sli-text {
  font-size: 1.1em;
  line-height: 1.7;
}

.tsml-sli-name {
  font-weight: normal;
  color: #e39d15;
  font-size: 2em;
  margin-top: 2.5em;
}
.tsml-next {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 5%;
  top: 50%;
  color: #e39d15;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}
.tsml-prev {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 50%;
  border: none;
  background-color: transparent;
  color: #e39d15;
  font-size: 1.5em;
}

/* ------ Styles for Achievement Section ------ */
.achievements-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.achievements {
  max-width: 120em;
  width: 100%;
}
.achievements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ac-block {
  display: flex;
  background-color: black;
  color: #ffffff;
  padding: 0.7em;
  border-radius: 100px 0 0 100px;
  width: 70%;
  float: right;
  align-items: center;
}
.ac-block:nth-child(odd) {
  margin-top: 2em;
  float: right;
  text-align: center;
  margin-bottom: 2em;
}
.ac-block:nth-child(even) {
  float: left;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: row-reverse;
  border-radius: 0 100px 100px 0;
  text-align: center;
}
.ac-block-circle {
  background-color: #ffffff;
  border-radius: 50%;
  height: 8em;
  padding: 0.5em;
  display: grid;
  place-items: center;
}
.abc-logo {
  width: 125px;
  height: 100px;
}
.ac-block-text {
  padding: 1em 2em;
  max-width: 45em;
}
.abc-title {
  font-size: 1.5em;
  font-family: "DM Serif Display", serif;
  color: #fffffff3;
}
.abc-text {
  margin-top: 1em;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Merriweather", serif;
  color: #ffffffa9;
}
@media (max-width: 960px) {
  .ac-block {
    width: 90%;
  }
}
.achievements-title {
  margin-top: 3em;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}
.achievements-content {
  margin-top: 6em;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .achievements-content {
    margin-top: 3em;
    width: 90%;
  }
  .ac-block:nth-child(odd) {
    border-radius: 0 0 0 0;
    width: 100%;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    box-sizing: border-box;
  }
  .ac-block:nth-child(even) {
    border-radius: 0 0 0 0;
    padding: 2em 2em;
    flex-direction: column;
    align-items: center;
    width: 100%;
    float: none;
    box-sizing: border-box;
  }
}

.newsmedia-wrap {
  width: 100%;
  margin-top: 5em;
}
.newsmedia {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
}
.newsmedia-content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6em;
}
.nwsmd-title-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nwsmd-title {
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Merriweather" serif;
}
.nwsmd-text {
  text-align: center;
  margin-top: 1em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.news-card {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  margin: 0 1em 2em 1em;
  padding-bottom: 1em;
}
.nc-img {
  width: 100%;
}
.nc-text-wrap {
  padding: 1.5em;
}
.nc-title {
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.nc-date {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
}
.nc-text {
  margin-top: 1em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: rgb(129, 129, 129);
}
.nc-link {
  margin-top: 1;

  text-decoration: none;
  color: rgba(205, 53, 50, 1);
}

/* ------ Contact Form Section------ */

.contact-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact {
  width: 90%;
  max-width: 90em;
  display: flex;
  justify-content: center;
}
.contact-content {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctdtl-wrap {
  display: grid;
  gap: 1em;
}
.ctdtl-wrap h3 {
  font-size: 2.5em;
  font-weight: normal;
}
.ctdtl-wrap p {
  color: #292929;
}
.ctdtl-wrap a {
  text-decoration: none;
  color: #292929;
}
#contactform {
  margin-top: 3em;
  width: 100%;
}

.ctf-input {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.8em;
  padding: 1em;
}
.ctf-input::placeholder {
  color: rgb(20, 20, 20);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ctf-submit {
  width: 100%;
  border: none;
  background-color: rgba(51, 51, 51, 1);
  padding: 0.5em 1em 0.5em 1em;
  font-family: sans-serif;
  font-style: italic;
  color: #e39d15;
}
@media (min-width: 780px) {
  .contact-content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  #contactform {
    margin-top: 0;
  }
  .ctdtl-wrap {
    margin-top: 0;
    width: 100%;
    display: grid;
    gap: 1em;
  }
  .ctf-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.8em;
    padding: 1em;
  }
}
@media (min-width: 1080px) {
  .ctf-input.name {
    width: 49%;
  }
  .ctf-input.email {
    width: 49%;
    float: right;
  }
}

/* ------Footer Section------ */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 3em;
  position: relative;
}
.footer-content {
  max-width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social {
  min-width: 10em;
  display: flex;
  justify-content: space-around;
}
.fc-icon {
  width: 20px;
  height: 20px;
}
.fc-text {
  margin-top: 1.5em;
}
.uparrow {
  position: absolute;
  right: 10%;
  top: 0;
}
