/* ------Global Styles */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;

  /* box-sizing: border-box; */
}
body {
  background-color: #f3f2f2;
}
html {
  scroll-behavior: smooth;
}

/* ------styles for header */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: -1px 2px 5px rgb(0, 0, 0);
  background-color: rgb(27, 27, 27);
}
.navbar {
  max-width: 90em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(102, 100, 100);
}
.nav__logo {
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-family: "Roboto", sans-serif;
}
.burger-wrap {
  display: none;
}
.nav__link:not(:last-child) {
  margin-right: 2em;
}
.nav__link:hover {
  color: rgb(223, 224, 224);
}
@media (max-width: 65em) {
  .nav__link:not(:last-child) {
    margin-right: 0;
  }
  .nav__link {
    margin: 0;
  }
  .nav__links.active {
    width: 100%;
    z-index: 4;
    top: 8%;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    position: absolute;
    padding-bottom: 2em;
    gap: 1em;
    margin: 0;
    background-color: #1b1b1b;
  }
  .nav__links {
    display: none;
  }

  .burger-wrap {
    display: grid;
    place-items: center;
    place-items: center;
    padding: 5px;
    cursor: pointer;
    /* background-color: #e39d15; */
  }
  .line {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #b8b8b8;
  }
  .line:not(:first-child) {
    margin-top: 5px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 2em;
  position: relative;
  display: none;
}
.footer-content {
  max-width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social {
  min-width: 10em;
  display: flex;
  justify-content: space-around;
}
.fc-icon {
  width: 20px;
  height: 20px;
}
.fc-text {
  margin-top: 1.5em;
}
.material-icons-outlined {
  background-color: #e39d15;
  position: absolute;
  right: 10%;
  top: 0;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* ------ Experience -------- */
main {
  background-color: #262626;
  padding-top: 4em;
  padding-bottom: 3em;
}
.experience-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ec-card-wrap {
  margin-top: 3em;
  width: 100%;
  max-width: 70em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  columns: 3;
}
.exp-card {
  background-color: #1f1f1f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  margin: 1em;
  color: #ffffff;
  width: 20em;
  text-align: center;
  /* float: left; */
}
.ec-img-wrap {
  background-color: white;
  width: 20em;
  display: grid;
  place-items: center;
  border-radius: 5px;
  height: 7.5em;
}

.ec-text-wrap {
  margin-top: 1em;
  padding: 1.5em;
  line-height: 1.5;
}
.ec-date-title {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ec-title {
  font-weight: normal;
  font-size: 1.3em;
  font-family: "DM Serif Display", serif;
  font-style: italic;
}
.ec-date {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.85);
}
.ec-text {
  margin-top: 1em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.55);
}
.ec-readmore {
  text-decoration: none;
  color: #cd3532;
  margin-top: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title h3 {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 2em;
  color: #ffffff;
}
.section-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10%;
  margin-right: 2em;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  margin-right: -2em;

  bottom: -15%;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
#more {
  display: none;
}
