/* ------Global Styles */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;

  /* box-sizing: border-box; */
}
body {
  background-color: #f3f2f2;
}
html {
  scroll-behavior: smooth;
}

/* ------styles for header */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: -1px 2px 5px rgb(0, 0, 0);
  background-color: rgb(27, 27, 27);
}
.navbar {
  max-width: 90em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(102, 100, 100);
}
.nav__logo {
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-family: "Roboto", sans-serif;
}
.burger-wrap {
  display: none;
}
.nav__link:not(:last-child) {
  margin-right: 2em;
}
.nav__link:hover {
  color: rgb(223, 224, 224);
}
@media (max-width: 65em) {
  .nav__link:not(:last-child) {
    margin-right: 0;
  }
  .nav__link {
    margin-top: 2em;
    font-size: 20px;
  }
  .nav__links.active {
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 8.79%;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    position: absolute;
    padding-bottom: 4em;
    gap: 1em;
    margin: 0;
    background-color: #1b1b1b;
  }
  .nav__links {
    display: none;
  }
  body.active {
    overflow: hidden;
  }

  .burger-wrap {
    display: grid;
    place-items: center;
    place-items: center;
    padding: 5px;
    cursor: pointer;
    /* background-color: #e39d15; */
  }
  .line {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #b8b8b8;
  }
  .line:not(:first-child) {
    margin-top: 5px;
  }
}
.footer {
  width: 100%;
  display: none;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 6em;
  position: relative;
}
.footer-content {
  max-width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social {
  min-width: 10em;
  display: flex;
  justify-content: space-around;
}
.fc-icon {
  width: 20px;
  height: 20px;
}
.fc-text {
  margin-top: 1.5em;
}
.material-icons-outlined {
  background-color: #e39d15;
  position: absolute;
  right: 10%;
  top: 0;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* ------ Experience -------- */
main {
  padding-top: 1em;
  padding-bottom: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
}
.publications-content {
  width: 100%;
  max-width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title h3 {
  font-family: "Merriweather", serif;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 2em;
  color: #000000;
}
.section-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10%;
  margin-right: 2em;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  margin-right: -2em;

  bottom: -15%;
  width: 5em;
  height: 0.15em;
  background-color: #e39d15;
}
.pb-card {
  width: 100%;
  max-width: 29.75em;
  display: flex;
  margin: 20px;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 5px 20px rgba(107, 107, 107, 0.25);
}
.pb-cards-wrap {
  width: 100%;
  max-width: 80em;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.papers-card-text {
  padding: 2em;
}
.pc-title {
  font-size: 1.4375em;
  font-weight: normal;
  color: rgba(193, 143, 89, 1);
  font-family: "Merriweather", serif;
  font-weight: 300;
}
.pc-date {
  margin-top: 0.5em;
  color: rgba(193, 143, 89, 1);
  font-family: "Merriweather", serif;
  font-weight: 300;
}
.pc-text {
  margin-top: 0.8em;
  line-height: 20px;
  color: rgba(119, 119, 119, 1);
  font-family: "Merriweather", serif;
  font-weight: 300;
}
.pc-link {
  color: rgba(205, 53, 50, 1);
  text-decoration: none;
}

@media (max-width: 500px) {
  .pb-card {
    flex-direction: column;
  }
}
